body {
  padding: 0;
  margin: 0;
  text-align: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  display: flex;

  font-family: 'Funnel Display', sans-serif;
}
.correct {
  background-color: green;
}

.right {
  background-color: yellow;
}

.used {
  background-color: gray;
}

#wordContainer {
  background-color: white;
  display: grid;
  grid-template-rows: repeat(6, 100px);
  grid-gap: 1px;

  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.wordRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  font-size: 64px;
  font-family: inherit;

  text-align: center;
}

.wordRow > div {
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toolBar {
  align-self: flex-start;
  width: 50px;
  height: 100px;
}

#playerKeyboard {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 30px;
  /* height: 300px; */
  width: 800px;
  margin: 20px auto;
}

.keyboardRow {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3px;
}

.keyboardRow button {
  height: 50px;
  width: 80px;

  font-size: 15px;
  font-family: 'DynaPuff', system-ui;

  border: 2px solid rgb(204, 204, 204);
  border-radius: 5px;
  /* background: rgb(238, 238, 238); */

  cursor: pointer;
}
.keyboardRow button.wide {
  width: 100px;
}

#restart {
  padding: 10px 20px;
  margin: 20px auto;

  font-size: large;
  /* font-weight: bold; */
  font-family: 'DynaPuff', system-ui;

  background-color: #ddd;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}
